#useDynLib(shikken)

import(sg)
import(methods)
import(Biostrings)

importFrom(kernlab,
  alpha,
  SVindex,
  nSV)

importFrom(stats,
  coef,
  fitted,
  na.omit,
  predict,
  terms)

exportClasses(
  ShikkenObject,

  ## Machines
  Machine,
  KernelMachine,
  ## DistanceMachine,
  SVM,

  Labels
  ## Kernels
  ## Kernel,
  ## CustomKernel,
  ## StringKernel,
  ## CombinedKernel,
  ## DotKernel,
  ## GaussianKernel,
  ## LinearKernel,
  ## PolyKernel,

  ## Normalizers,
  ## Normalizer,

  ## Features
  ## Features,
  ## DotFeatures,
  ## SimpleFeatures,
  ## PolyFeatures,
  ## SparsePolyFeatures,
  ## SparseFeatures,
  ## CombinedFeatures,
  ## StringFeatures,
  ## StringFileFeatures
)

exportMethods(
  ## Features,
  ## features,

  ## Kernel,
  ## kernel,
  ## "kernel<-",

  ## normalizer,
  ## "normalizer<-",

  ## train,
  ## trained,
  ## "trained<-",

  ## bias,
  ## coef,
  ## fitted,
  predict,

  SVM,
  supportVectors,
  objective,
  nSV,
  SVindex,
  alpha,
  coef,
  
  # show,
  # plot,

  ##
  # as.factor,
  as.numeric,
  as.integer,
  as.vector
)

export(
  nSV,
  SVindex,
  alpha,
  coef,
  
  Labels,
  shThreads,
  isClassificationMachine,
  isRegressionMachine
)
