useDynLib(shikken)

import(methods)

importFrom(stats,
  coef,
  fitted,
  na.omit,
  predict,
  terms)

exportClasses(
  ShikkenObject,

  ## Machines
  LearningMachine,
  KernelMachine,
  DistanceMachine,
  SVM,

  ## Kernels
  Kernel,
  CustomKernel,
  StringKernel,
  CombinedKernel,
  DotKernel,
  GaussianKernel,
  LinearKernel,
  PolyKernel,

  ## Features
  Features,
  DotFeatures,
  SimpleFeatures,
  PolyFeatures,
  SparsePolyFeatures,
  SparseFeatures,
  CombinedFeatures,
  StringFeautures,
  StringFileFeatures
)

exportMethods(
  SVM,
  Kernel,
  # show,
  coef,
  fitted,
  # plot,
  predict
)

export(
  shogunVersion,
  createFeatures,
  createLabels
)
