useDynLib(shikken)

import(methods)

importFrom(stats,
  coef,
  fitted,
  na.omit,
  predict,
  terms)

exportClasses(
  ShikkenObject,

  ## Machines
  Machine,
  KernelMachine,
  DistanceMachine,
  SVM,

  ## Kernels
  Kernel,
  CustomKernel,
  StringKernel,
  CombinedKernel,
  DotKernel,
  GaussianKernel,
  LinearKernel,
  PolyKernel,
  
  ## Normalizers,
  Normalizer,
  
  ## Features
  Features,
  DotFeatures,
  SimpleFeatures,
  PolyFeatures,
  SparsePolyFeatures,
  SparseFeatures,
  CombinedFeatures,
  StringFeatures,
  StringFileFeatures
)

exportMethods(
  Features,
  features,
  
  Kernel,
  kernel,
  "kernel<-",
  
  normalizer,
  "normalizer<-",
  
  train,
  trained,
  "trained<-",
  
  bias,
  coef,
  fitted,
  predict,
  
  SVM,
  supportVectors,
  alphas,
  objective,
  
  threads,
  "threads<-",
  
  # show,
  # plot,
  
  ##
  # as.factor,
  as.numeric,
  as.integer,
  as.vector
)

export(
  shogunVersion,
  
  Labels,
  
  isClassificationMachine,
  isRegressionMachine
)
