<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{{ page.title }}</title>
  <meta name="author" content="Steve Lianoglou">
  
  <link rel="stylesheet" href="/shikken/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>
  <a href="http://github.com/lianos/shikken"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

  <div id="container">

    <div class="download">
      <a href="http://github.com/lianos/shikken/zipball/master">
        <img border="0" width="90" src="http://github.com/images/modules/download/zip.png"></a>
      <a href="http://github.com/lianos/shikken/tarball/master">
        <img border="0" width="90" src="http://github.com/images/modules/download/tar.png"></a>
    </div>

    <h1><a href="http://github.com/lianos/shikken">shikken</a>
      <!-- span class="small">by <a href="http://github.com/lianos">lianos</a></span -->
    </h1>

    <div class="description">
      shikken (<span class="t_nihongo_kanji" lang="ja" xml:lang="ja">執権</span>): the regent for the <a href="http://www.shogun-toolbox.org/">shogun-toolbox</a> in the <a href="http://www.r-project.org">R province</a>.
    </div>
    
    <div id="content">
      {{ content }}
    </div>
    
    <div class="footer">
      get the source code on GitHub :
      <a href="http://github.com/lianos/shikken">lianos/shikken</a>
    </div>

  </div>

</body>
</html>

